* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}

body {
    background-color: #ff3f3f;
}

.content {
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    background-color: #fafafa;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 567px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}





